.flexBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.iconImg {
    margin-top: 17px;
    margin-bottom: 14px;
    margin-left: 5px;
    width: 20px;
}

.sumP {
    direction: rtl;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.lineBreak {
    height: 10px;
    width: 100%;
}