.flexBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    text-decoration: underline;
    text-underline-position: under;
}

.sumP {
    font-size: 14px;
    margin-top: 30px;
}

.logoImg {
    width: 30px;
}

.iconImg {
    margin-top: 30px;
    margin-bottom: 14px;
    margin-left: 5px;
    width: 20px;
    cursor: pointer;
}

.lineBreak {
    height: 15px;
    width: 100%;
}

.tableDiv {
    /*height: 118px;*/
    width: 800px;
    /*overflow: scroll;*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tableDiv::-webkit-scrollbar {
    display: none;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: #F5F5F5
}
  
thead th {
    text-align: right;
    font-weight: normal;
    padding-right: 5px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
  
thead button {
    border: 0;
    width: 100%;
    text-align: right;
    border-radius: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0.5em;
    padding-right: 0;
    margin-bottom: 1px;
    background-color: Transparent;
    outline: none;
    cursor: pointer;
}
  
tbody td {
    text-align: right;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
  
tbody tr:hover {
    background-color: #eee;
}
  