* {
    direction: rtl;
}

.main {
    background-color: rgb(255,165,0);
    position:absolute;
    top:0;
    bottom:0;
    left:15%;
    right:15%;
}

.hr { 
    border: 0; 
    border-top: 1.5px solid black;
}