* {
    direction: rtl;
}

.main {
    background-color: rgb(255,165,0);
    position: fixed;
    top:0;
    bottom:0;
    left:15%;
    right:15%;
}

.hr { 
    border: 0; 
    border-top: 1.5px solid black;
}

.loading {
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
}

.loading img {
    width: 100px;
}

.loading h1 {
    direction: ltr;
    color: yellow;
}