* {
    direction: rtl;
}

.main {
    background-color: rgb(255,165,0);
    position: fixed;
    top:0;
    bottom:0;
    left:15%;
    right:15%;
}

.rightCommercial {
    background-color: brown;
    position: fixed;
    top: 20%;
    bottom: 20%;
    left: 87%;
    right: 2%;
    text-align: center;
    cursor: pointer;
}

.img {
    margin: 5px;
    width: 70%;
}

.hr { 
    border: 0; 
    border-top: 1.5px solid black;
}